.pc-builder-main {
    display: flex;
}

.pcBuilderNav {
  display: flex;
  flex-direction: column;
  background: rgb(190, 196, 236);
  min-height: 100vh;
  border-radius: 5px;
  padding: 20px 20px;
}

.pcBuilderNav a {
  font-size: larger;
  padding: 10px 20px;
  font-weight: 600;
}

.pcBuilderNav a:hover {
  background: #7e9be0;
  color: beige;
}

.pcBuilderBody {
    margin-left: 50px;
    margin-top: 40px;
    width: 600px
}

.delBtn {
  text-align: center;
  border: 1px solid rgb(239, 163, 163);
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.delBtnText {
  color: red;
}

/* .delBtnText:hover {
color: white;
} */

.delBtn:hover {
  background: rgb(237, 166, 166);
  transition: all;
}

@media screen and (max-width: 480px) {
  .pcBuilderNav {
    min-height: 50vh;
  }
  .pc-builder-main {
    flex-direction: column;
  }
  .pcBuilderBody {
    margin-left: 10px;
    margin-top: 40px;
    width: fit-content
}
}
